<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div class="login">
            <h1>Login</h1>
            <div class="links">
                <a href="{{ url_for('register') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
            </div>
            <form method="post" action="{{ url_for('UserLoggin') }}" enctype="multipart/form-data">
            <h1>name</h1>
            <input type="text" size="30" name="name"/>
            <br>
            <h1>password</h1>
            <input type="password" name="pwd" style="margin-top:15px;"/>

            <input type="submit" value="Login" class="button-new" style="margin-top:15px;"/>
            </form>
            <a href="{{ url_for('logout') }}">Log out </a>



        </div>
    </body>
</html>